.container img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  float: left;
  top: 1.5cm;
  left: 90cm;
}

p {
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;

  font-size: 20px;
  margin: 1px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 5;
  text-align: center;
  color: rgb(237, 237, 243);
}
.boca {
  color: blue;
}

.juniors {
  color: yellow;
}
.botonGithub img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.botonGithub {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.botonInstagram img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.botonInstagram {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.logoLinkedin img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  border-radius: 50%;
}
.logoLinkedin {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
